In [2]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [8]:
df = pd.read_csv(r"C:\Siddhesh_Data\Study\My Interest\Natural Language Processing\YouTube\Movie Review\Movie_Review.txt",sep='\t',names=['liked','txt'])

In [9]:
df.head()

   liked                                                txt
0      1            The Da Vinci Code book is just awesome.
1      1  this was the first clive cussler i've ever rea...
2      1                   i liked the Da Vinci Code a lot.
3      1                   i liked the Da Vinci Code a lot.
4      1  I liked the Da Vinci Code but it ultimatly did...

In [10]:
df

      liked                                                txt
0         1            The Da Vinci Code book is just awesome.
1         1  this was the first clive cussler i've ever rea...
2         1                   i liked the Da Vinci Code a lot.
3         1                   i liked the Da Vinci Code a lot.
4         1  I liked the Da Vinci Code but it ultimatly did...
...     ...                                                ...
6913      0                     Brokeback Mountain was boring.
6914      0       So Brokeback Mountain was really depressing.
6915      0  As I sit here, watching the MTV Movie Awards, ...
6916      0    Ok brokeback mountain is such a horrible movie.
6917      0   Oh, and Brokeback Mountain was a terrible movie.

[6918 rows x 2 columns]

In [11]:
df[0:5]

   liked                                                txt
0      1            The Da Vinci Code book is just awesome.
1      1  this was the first clive cussler i've ever rea...
2      1                   i liked the Da Vinci Code a lot.
3      1                   i liked the Da Vinci Code a lot.
4      1  I liked the Da Vinci Code but it ultimatly did...

In [19]:
df.iloc[1]

liked                                                    1
txt      this was the first clive cussler i've ever rea...
Name: 1, dtype: object

In [27]:
df.iloc[:,[1]]

                                                    txt
0               The Da Vinci Code book is just awesome.
1     this was the first clive cussler i've ever rea...
2                      i liked the Da Vinci Code a lot.
3                      i liked the Da Vinci Code a lot.
4     I liked the Da Vinci Code but it ultimatly did...
...                                                 ...
6913                     Brokeback Mountain was boring.
6914       So Brokeback Mountain was really depressing.
6915  As I sit here, watching the MTV Movie Awards, ...
6916    Ok brokeback mountain is such a horrible movie.
6917   Oh, and Brokeback Mountain was a terrible movie.

[6918 rows x 1 columns]

In [28]:
df.head()

   liked                                                txt
0      1            The Da Vinci Code book is just awesome.
1      1  this was the first clive cussler i've ever rea...
2      1                   i liked the Da Vinci Code a lot.
3      1                   i liked the Da Vinci Code a lot.
4      1  I liked the Da Vinci Code but it ultimatly did...

In [29]:
df

      liked                                                txt
0         1            The Da Vinci Code book is just awesome.
1         1  this was the first clive cussler i've ever rea...
2         1                   i liked the Da Vinci Code a lot.
3         1                   i liked the Da Vinci Code a lot.
4         1  I liked the Da Vinci Code but it ultimatly did...
...     ...                                                ...
6913      0                     Brokeback Mountain was boring.
6914      0       So Brokeback Mountain was really depressing.
6915      0  As I sit here, watching the MTV Movie Awards, ...
6916      0    Ok brokeback mountain is such a horrible movie.
6917      0   Oh, and Brokeback Mountain was a terrible movie.

[6918 rows x 2 columns]

In [30]:
#TFIDF Vectorizer
stopset=set(stopwords.words('english'))

In [31]:
stopset

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [32]:
vectorizer = TfidfVectorizer(use_idf=True,lowercase=True,strip_accents='ascii',stop_words=stopset)

In [33]:
vectorizer

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True,
                stop_words={'a', 'about', 'above', 'after', 'again', 'against',
                            'ain', 'all', 'am', 'an', 'and', 'any', 'are',
                            'aren', "aren't", 'as', 'at', 'be', 'because',
                            'been', 'before', 'being', 'below', 'between',
                            'both', 'but', 'by', 'can', 'couldn', "couldn't", ...},
                strip_accents='ascii', sublinear_tf=False,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

In [34]:
#In this case our dependent variable will be liked as 0 (Didn't like the movie) or 1 (Liked the movie)
y = df.liked

In [35]:
y

0       1
1       1
2       1
3       1
4       1
       ..
6913    0
6914    0
6915    0
6916    0
6917    0
Name: liked, Length: 6918, dtype: int64

In [36]:
#convert df.txt from text to features
X = vectorizer.fit_transform(df.txt)

In [37]:
X

<6918x2011 sparse matrix of type '<class 'numpy.float64'>'
	with 44814 stored elements in Compressed Sparse Row format>

In [39]:
print (y.shape)
print (X.shape)

(6918,)
(6918, 2011)

In [40]:
#6918 observations and 2011 unique words

In [41]:
X

<6918x2011 sparse matrix of type '<class 'numpy.float64'>'
	with 44814 stored elements in Compressed Sparse Row format>

In [43]:
print (X)

  (0, 137)	0.4095866691477198
  (0, 216)	0.7161106376265326
  (0, 331)	0.3262559657747791
  (0, 1906)	0.3263290976383834
  (0, 418)	0.3263290976383834
  (1, 1360)	0.398401288038176
  (1, 1467)	0.398401288038176
  (1, 1075)	0.14687245685027675
  (1, 217)	0.28195158685585064
  (1, 582)	0.28506337161183415
  (1, 1446)	0.2238961227930013
  (1, 584)	0.2298241967707875
  (1, 414)	0.398401288038176
  (1, 321)	0.398401288038176
  (1, 674)	0.22592190468842513
  (1, 331)	0.09794278725273431
  (1, 1906)	0.09796474160548119
  (1, 418)	0.09796474160548119
  (2, 1109)	0.7267550791330574
  (2, 1076)	0.5507259552895342
  (2, 331)	0.23697933668230026
  (2, 1906)	0.23703245675471374
  (2, 418)	0.23703245675471374
  (3, 1109)	0.7267550791330574
  (3, 1076)	0.5507259552895342
  :	:
  (6913, 238)	0.36659837871544654
  (6914, 463)	0.6723202348298334
  (6914, 1211)	0.3318987022087672
  (6914, 238)	0.3318987022087672
  (6914, 1454)	0.5724264186623724
  (6915, 470)	0.34826852533609814
  (6915, 1470)	0.34826852533609814
  (6915, 1220)	0.34826852533609814
  (6915, 1629)	0.34826852533609814
  (6915, 135)	0.34748408727149427
  (6915, 1211)	0.14552164048949137
  (6915, 238)	0.14552164048949137
  (6915, 1928)	0.3415327327273751
  (6915, 1222)	0.23863991821250147
  (6915, 1214)	0.42207135930286865
  (6916, 887)	0.5747963516894676
  (6916, 1211)	0.28142631891072306
  (6916, 238)	0.28142631891072306
  (6916, 1274)	0.5870619498571349
  (6916, 1214)	0.40812482791804827
  (6917, 1770)	0.5791011912613283
  (6917, 1211)	0.28148141855807
  (6917, 238)	0.28148141855807
  (6917, 1273)	0.5827067254117629
  (6917, 1214)	0.40820473350107567

In [44]:
print(vectorizer)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True,
                stop_words={'a', 'about', 'above', 'after', 'again', 'against',
                            'ain', 'all', 'am', 'an', 'and', 'any', 'are',
                            'aren', "aren't", 'as', 'at', 'be', 'because',
                            'been', 'before', 'being', 'below', 'between',
                            'both', 'but', 'by', 'can', 'couldn', "couldn't", ...},
                strip_accents='ascii', sublinear_tf=False,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

In [45]:
#Test, Train, Split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [50]:
print(y_test)

543     1
1820    1
2412    1
3409    1
5741    0
       ..
3519    1
6769    0
1922    1
6418    0
4947    0
Name: liked, Length: 1730, dtype: int64

In [52]:
#Train using naive bayes classfier
clf = naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [54]:
#check accuracy score
roc_auc_score(y_test,clf.predict_proba(X_test)[:,1])

0.9979292333245913

In [56]:
#Now let's check
import numpy as np

In [63]:
movies_reviews_array = np.array(["Badshah was awesome and fantastic movie"])

In [64]:
movies_reviews_array

array(['Badshah was awesome and fantastic movie'], dtype='<U39')

In [65]:
movie_review_vector = vectorizer.transform(movies_reviews_array)

In [66]:
movie_review_vector

<1x2011 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>

In [67]:
print(movie_review_vector)

  (0, 1214)	0.759916059978477
  (0, 137)	0.6500212164128091

In [68]:
print (clf.predict(movie_review_vector))

[1]